*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333;}
li{list-style: none;}
.clear{clear: both;}

body{
    font-family: 'Noto Sans KR';
    font-style: 16px;
    font-size: 16px;
    line-height: 32px;
    height: auto;
    -webkit-text-size-adjust:none

}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*start*/

header{width: 100%; height: 70px; position: relative;}
.header_area{width: 100%; height: 100%; text-align: center; background: #000;}
/* .header_area>a{width: 50px; height: 50px;} */

/*hambur bars*/

.nav_menu{
    width: 100%; height: 100%; top: 0; right: -100%; position: fixed;
    color: #fff; z-index: 1; transition: all .135s; 
}
.nav a{line-height: 80px; color: #fff;}
.nav_menu.on{width: 100%; height: 100%; right: 0; text-align: center;}

.nav_menu .hamburbars{width: auto; height: 0%; top: -3.8%; right: 10%; position: fixed;}
.nav_menu .hamburbars span{display: block; width: 28px; height: 3px; background: #cacaca; margin-top: 50px; transition: .5s; border-radius: 5px;}
.nav_menu .hamburbars span ~ span {display: block; margin: 7px 0 0 ;}

.nav_menu .hamburbars span:nth-of-type(1){transform: rotate(0deg) translateX(0) translateY(0); transform-origin: left top;}
.nav_menu .hamburbars span:nth-of-type(2){transform: translateX(0); opacity: 1;}
.nav_menu .hamburbars span:nth-of-type(3){transform: rotate(0deg) translateY(0); transform-origin: left top;}

.nav_menu .hamburbars.on span:nth-of-type(1){transform: rotate(52deg) translateX(-2px) translateY(-2.7px); transform-origin: left top;}
.nav_menu .hamburbars.on span:nth-of-type(2){transform: translateX(40px); opacity: 0;}
.nav_menu .hamburbars.on span:nth-of-type(3){transform: rotate(-50deg) translateX(0px) translateY(-2.7px); transform-origin: left top;}

.nav{
    display: flex;
    align-items: center;
    height: 100%;
    background: #3d64a0;
    flex-direction: column;
    justify-content: space-around;
    /* padding-top: 50px; */
}

.emphasized {position:fixed; box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px; z-index : 100;}


/* main */

.nav_text>p{
    font-size: 18px; letter-spacing: -1px; color: #fff;
    top: 3.5%; left: 10%; position: absolute; 
    height: 80px; 
    flex-direction: row;
    align-self: center;
    /* display: flex; align-items: start; margin: auto 10%; align-content: start; */
}
main{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.main_img{width: 100%; margin: 0 auto; text-align: center; height: auto;}
.main_img>img{max-width: 100%;}

/* .main_ex{
    width: 90%; height: 35%; position: absolute; right: 0; top: 60%;
    background: #fff; border: 1px solid rgb(234,234,234);
    border-radius: 3% 0% 0% 3%; overflow: scroll; overflow-x: hidden;
    font-size: 18px;
    
}
.main_ex p{margin: 7%; -webkit-overflow-scrolling: touch; font-weight: 300; line-height: 200%;}
.main_ex span{font-size: 24px; font-weight: 500; color: #333;} */
/* .main_ex p{
    overflow: auto;
    width: 80%;
    height: 35%;
} */

.main_ex::-webkit-scrollbar {
    width: 12px;
}
.main_ex::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.main_ex::-webkit-scrollbar-track {
    background-color: #eaeaea;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border: 1px solid rgb(234,234,234);
}

#section01{margin-top: 30%; margin-bottom: 20%;}


/* article */

article{width: 100%;}
.img_tag{width: 100%; height: auto;}
.img_tag>img{
    max-width: 100%;
    padding: 0 10%;
}

.numbur_tag{font-size: 19px; font-weight: bold;}
.title_tag{font-size: 19px; font-weight: bold;}
.title_tag span{font-size: 12px; font-weight: bold;}

.text_tag{margin: 10%;}
.body_tag{text-align: start; margin-top: 10%;}








main{margin-bottom: 30%;}
.footer_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    background: #000;
    position: fixed;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
}
.footer_nav li a{color: #fff;}